{% extends "layout.html.twig" %}

{% block title %}Shows{% endblock %}

{% block content %}
    <div id="content">
        {% set currentTitle = '' %}
        {% for result in results %}
            {% if result.show_title != currentTitle %}
                {# Open Show DIV #}
                <div class="show">
        
                <img class="showLogo" data-title="{{ result.show_title }}" />
                <h2>{{ result.show_title }}</h2>
                {% set currentTitle = result.show_title %}
                <div class="showEpisodes"><span class="showingCount"></span></div>
            {% endif %}
                    
            <div class="episode" data-id="{{ result.id }}">
                <h3>{{ result.episode}}</h3>
                <div class="episodeDetails">
                    <h4>{{ result.show_title}}</h4>
                    <h5>{{ result.episode }}</h4>
                    <p>{{ result.description|replace({'Copyright Tribune Media Services, Inc.': ''})}}</p>
                    <p>{{ (result.duration/60000)|number_format(0) }} minutes long
                    on {{ result.station }} {{ result.channel }}
                    {% if result.hd == 'Yes' %}
                        in HD
                    {% endif %}
                    at {{ result.date|date("m/d/Y H:i") }}.
                </div>
            </div>
            
            {% if results[loop.index].show_title != result.show_title %}
                {# Close Show DIV #}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}